/*@import url('./reset.css');*/
div.name1
{
    width: 1100px;
    height: 32px;
    text-align: center;
    margin: 0 auto 0px auto;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
}
div.name1
{
    width: 1100px;
    margin: 0 auto 0 auto;   
}
div.name0
{
    width:  400px;
    margin: 0 auto 30px auto;
    color:  #C6D1E3; 
}
div#hpg
{
    font-family: tahoma;
    font-size: 14px;
    color: #FF8000;
    margin: 0 auto 15px auto;
}
div#hhh
{
    font-family: tahoma;
    font-size: 16px;
    color: #4E62D1;
    margin: 0 auto 0 auto;
}
div#hhh1
{
    font-family: tahoma;
    font-size: 11px;
    color: #CDCDCD;
    margin: 0 auto 15px auto;
}
#vk_comments
{
    margin: 0 auto 0 auto;
}
div.pic
{
    margin: 0 0 10px 0;
    overflow: auto;    
}
div.hh3
{
    font-family: tahoma;
    font-weight: normal;
    font-size: 20px;
    color: #6B82BC;
    margin: 0 auto 15px auto;
}
div.hh3 img
{
    border: none;
}
div.hh4
{
    font-family: tahoma;
    font-size: 11px;
    color: #9D9D9D;
    margin: 0 auto 15px auto;
}
div#pic img
{
    border: none;
    border-radius: 7px;
}
div#pic
{
    background-color: #EBEDF1;
    overflow: auto;   
    width: 1100px;
    border-radius: 7px;
    padding: 10px 0 10px 0;
}
div.kinfo
{
    overflow: auto;
    float:  left;
    width:  220px; 
    font-family: tahoma;
    font-size: 11px;
    font-weight: normal;
    color: #6B82BC;
}
div.kinfo a:link, div.kinfo a:visited
{
    color: #6B82BC;
}        
div#v1r
{
    /*
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #DCDFE7;
    */
    height: 240px;
    overflow: auto;
    width: 1100px;
    float: left;
}
div#v2r
{
    /*
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #DCDFE7;
    height: 180px;*/
    height: 240px;
    overflow: auto;
    width: 1100px;
    float: left;
}
div#fm
{
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
}
div#fm a#afm:link
{ 
    text-decoration: none;
    color: white;
    background: #C6D1E3;
    border-radius: 3px;
}
div#fm a#afm:visited
{ 
    text-decoration: none;
    color: white;
    background: #C6D1E3;
    border-radius: 3px;
}
div#fm a#afm:hover
{ 
    text-decoration: none;
    background: #6B82BC;
    color: white;
    border-radius: 3px;
}
span.yandex_news_title
{
	font-size: 12px;
}
span.yandex_date
{
	font-size: 12px;
	margin-right:0.5em;
}
div.yandex_informer
{
	font-size: 12px;
	margin-bottom: 0.3em;
}
div.yandex_title
{
	font-size: 16px;
	margin-bottom: 0.5em;
}
div.yandex_title a
{
}
div.yandex_allnews
{
	font-size: 12px;
	margin-top: 0.3em;
}
div.yandex_allnews
{
	font-size: 12px;
	margin-top: 0.3em;
}
div.yandex_annotation
{
	font-size: 85%;
	margin-bottom: 0.5em;
}
div.yandex_title a:link, span.yandex_news_title a:link, div.yandex_allnews a:link
{
    color: #6B82BC;
}
div#pinfo a:link, div.ssil_k a:link
{
    color: #6B82BC;
}
div.name2 img
{
    border: none;
}
div#fm a#afm1 img
{
    vertical-align:  text-top;        
}
div.twtr-doc        
{
    margin: 0 auto 0 auto;
}